<h6>Logged in as Admin</h6>
<h3>Current Stories:</h3>
<div class="row">
  {{#each model as |story|}}
    <div class="col-sm-4">
      <img src={{story.photo}} alt={{story.headline}}>
      <br>
      {{#link-to 'story' story.id}}{{story.headline}}{{/link-to}}
      <br>
        by {{story.author}}
      <hr>
    </div>
  {{/each}}
</div>
